.vs/Parcial_2_POO/v17/.wsuo
.vs/Parcial_2_POO/FileContentIndex/c4b0bd56-7c14-4d57-a83f-1196895af156.vsidx
.vs/Parcial_2_POO/FileContentIndex/87dff7cd-4c9f-4d86-a532-ac32f2ad1a10.vsidx
.vs/Parcial_2_POO/FileContentIndex/72339b4f-0656-4d32-add1-e55ad42ed8b6.vsidx
.vs/Parcial_2_POO/FileContentIndex/3685a136-facc-412b-bff6-085c826cd1b5.vsidx
