.vs/Parcial_2_POO/v17/.wsuo
.vs/Parcial_2_POO/FileContentIndex/c4b0bd56-7c14-4d57-a83f-1196895af156.vsidx
.vs/Parcial_2_POO/FileContentIndex/87dff7cd-4c9f-4d86-a532-ac32f2ad1a10.vsidx
.vs/Parcial_2_POO/FileContentIndex/72339b4f-0656-4d32-add1-e55ad42ed8b6.vsidx
.vs/Parcial_2_POO/FileContentIndex/3685a136-facc-412b-bff6-085c826cd1b5.vsidx
.vs/Parcial_2_POO.slnx/FileContentIndex/49ec48d1-b2eb-4f5d-a554-2741e346bdd3.vsidx
.vs/Parcial_2_POO.slnx/FileContentIndex/6dfeac37-c4ef-43b8-8909-a7322cfee0c8.vsidx
.vs/Parcial_2_POO.slnx/FileContentIndex/a25d5373-e3ed-47b0-a6ed-c25d1a155eaf.vsidx
.vs/Parcial_2_POO.slnx/FileContentIndex/bd89614d-b526-4634-a86a-3268fb642bd3.vsidx
